@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-size{
    padding: 0.2rem 0.6rem;
    border-radius: 0.3rem;
}

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-size: 24px;
}

body{
    font-family: sans-serif;
}

header{
    @include flex-center;
    width: 100vw;
    height: 4rem;
    background-color: #000000;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.logo {

    font-size: 1.25rem;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.favoritos {
    @include button-size;
    margin-top: 0.4rem;
    font-size: 0.8rem;
    text-decoration: none;
    background-color: #FFF;
    color: #000000;
    cursor: pointer;
}

.favoritos:hover {
    background-color: #000000;
    color: #FFF;
}