
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    @include flex-center;
    font-size: 35px;
    width: 100%;
    background-color: lightblue;
    color: #FFF;
}


.container {
    @include flex-column-center;
    width: 100%;
    box-sizing: border-box;
}